body{
    box-sizing: border-box;
}
.wrapper {
display: flex;
align-content: center;
justify-content: center;
}

.container {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}